@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/button';

@import 'layout/header';

@import 'pages/home';

.profile-pic {
  border-radius: 50%;
  display: block;
  width: 20rem;
  box-shadow: 0px 1rem 2rem rgba($color-black, 0.3);
  animation: moveInProfilePic 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  transition: all 0.3s;
}

.profile-pic:hover {
  transform: translateY(-1.1rem) scale(1.03);
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  line-height: 1.7;
  width: 80rem;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: 3rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}
