.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.9),
      rgba($color-primary-dark, 0.9)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 5rem;
    opacity: 0.8;
  }

  &__profile-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);

    @include respond(tab-port) {
      top: 10%;
    }
    @include respond(phone-land) {
      opacity: 0;
    }
  }

  .profile-pic {
    @include respond(phone) {
      height: 14rem;
      width: 14rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
