.section-about {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 12rem 0;
  }
}

.section-project {
  position: relative;
  padding: 0 0 10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.9),
      rgba($color-primary-dark, 0.9)
    ),
    url(../img/project.jpg);
  background-size: cover;

  @include respond(tab-land) {
    padding: 0 0 8rem;
  }
}
